@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --Radius: 10px;
    --comp_shadow: 0 0 5px #ededed;
    --btn_radius: 20px;
    --preset_cyan: hsl(176, 50%, 47%);
    --preset_cyan_hover: hsl(176, 72%, 28%);
    --preset_white: #f3f3f3;
    --font_weight_bold: 700;
    --font_color_under: hsl(0, 0%, 48%);
    --cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    font-size: 12px;
}

body{
    height: 100vh;
    background-color: #fafafa;
    position: relative;
    display: flex;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45vh;
    background-image: url('images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    
}

main{
    display: flex;
    flex-direction: column;
    top: 33vh;
    height:65vh;
    position: absolute;
    align-items: center;
}

.comp-header{
    width: clamp(300px, 70%, 700px);
    border-radius: var(--Radius);
    padding: 20px 10px;
    background-color: #fff;

    box-shadow: var(--comp_shadow);

    position: relative;
}

.comp-value{
    margin-top: 20px;
    width:clamp(300px, 70%, 700px);
    border-radius: var(--Radius);
    padding: 10px;
    background-color: #fff;

    box-shadow: var(--comp_shadow);
}



.comp-about{
    margin-top: 20px;
    width: clamp(300px, 70%, 700px);
    border-radius: var(--Radius);
    padding: 10px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: var(--comp_shadow);
}

.about{
    padding-top: 20px;
    width: 90%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.back-options{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    padding: 10px;
    margin:10px;
    width: 90%;
    height: 120px;

    position: relative;

    border-radius: var(--Radius);
    box-shadow: var(--comp_shadow);
}

.card > span{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card-pledge{
    width: 22%;
    position: absolute;
    top: 20px;
    right: 10px;
    color: var(--preset_cyan);
}
.card-left{
    width: 20%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.card-reward{
    width: 130px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;

    border-radius: var(--btn_radius);
    border: none !important;
    background-color: var(--preset_cyan);
    color: #fff;

    cursor: var(--cursor);
}

.card-reward:hover{
    background-color: var(--preset_cyan_hover);
}



.title{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.title > span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmark-project-switch{
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 150px;
}


.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    width:130px;
    height: 35px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: var(--preset_white);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left:-10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    height:40px;
    width: 40px;
    border-radius: 50%;
    background-image: url('images/icon-bookmark.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

input:checked + .slider {
    color: var(--preset_cyan_hover);
    background-color: rgb(60, 180, 172, 0.1);
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(26px);
    transform: translateX(110px);
    background-image: url('images/icon-bookmark-marked.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.back-project-btn{
    margin-left:20px;
    width: 170px;
    height: 40px;

    cursor: var(--cursor);

    border-radius: var(--btn_radius);
    border: none !important;
    background-color: var(--preset_cyan);
    color: #fff;
}
.back-project-btn:hover{
    background-color: var(--preset_cyan_hover);
}

.infos{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}
.acquired-goal{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progressbar{
    padding: 0 20px;
}

#backed-progress{
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
}
#backed-progress::-webkit-progress-value{
    border-radius: var(--btn_radius);
    background-color: var(--preset_cyan);
}
#backed-progress::-webkit-progress-bar{
    border-radius: var(--btn_radius);
    background-color: var(--preset_white);
}

.head-title{
    font-weight: var(--font_weight_bold);
    font-size: 24px;
}

.under{
    color: var(--font_color_under);
}

.backers{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(122, 122, 122, 0.3);
    border-right: 1px solid rgb(122, 122, 122, 0.3);
}

.days-left{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-title{
    color: var(--font_color_under);
}

.card-title{
    font-size: 16px;
    font-weight: var(--font_weight_bold);
}

.logo-mastercraft{
    position: absolute;
    top: -28px;
    left: calc(50% - 28px);
}

.header>img{
    height: 20px;
    cursor: var(--cursor);
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: linear-gradient(rgba(0,0,0,0.7) 0%, rgb(0, 0, 0, 0) 80%);
}
.navigate > ul{
    list-style: none;
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: space-between;
    color: var(--preset_white);
}

ul li{
    font-size: 16px;
    cursor: var(--cursor);
}


.esgotado{
    opacity: 0.4;
}
.esgotado > button{
    background-color: var(--font_color_under)
}

.modais{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(122, 122, 122, 0.6)
}

.modal-back-options{
    width: clamp(300px, 55%, 700px);
    border-radius: var(--Radius);
    padding: 30px 20px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: var(--comp_shadow)
}
.card-modal{
    padding: 10px;
    margin:10px;
    width: 90%;
    height: 120px;

    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: var(--Radius);
    box-shadow: var(--comp_shadow);
}
.backing{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.modal-card-content{
    display: flex;
    width: 90%;
}
.modal-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-pledge-modal{
    margin-left: 10px;
    color: var(--preset_cyan)
}
.modal-checkbox{
    display: flex;
    justify-content: center;
    width: 10%;
}
.modal-checkbox > .container {
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container:hover input ~ .checkmark {
    background-color: var(--preset_cyan);
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}