@import "../global.css";

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}
.login{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}
input{
    border-style: none;
    border-bottom: 1px solid #333;
    background-color: #ddd;
    height: 30px;
    font-size: 18px;
    outline: none;
}
button{
    border-style: none;
    background-color: #111;
    color: #fff;
    height: 50px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 15px;
}
button:hover{
    transition: all 0.2s; 
    transform: scale(1.1);
}