*{
    margin: 0;
    padding: 0;
}
body{
    height: 90vh;
}
.titulo{
    padding: 2%;
    height: 15%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-align: right;
}
.head{
    background-color:rgb(253, 77, 77);
    height: 5%;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}
.head span{
    padding: 0 3%;
    font-size: 20px;
}
.panda{
    background-color: rgb(104, 3, 20);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panda img{
    border-radius: 15px;
    height: 300px;
}
.search{
    background-color:rgb(141, 44, 60);
    height: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
}
.search input{
    height: 60%;
    width: 20%;
    border-radius: 15px;
    border-style: none;
}