*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
}
body{
    margin: 2%;
    height: 90vh;
}
div{
    font-size: 20px;
    display: flex;
    height: 15%;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-align: right;
}

.red{
    background-color: red;
    height: 30%;
}
.green{
    background-color: rgb(0, 255, 0);
    height: 30%;
}
.blue{
    background-color: blue;
    height: 30%;
}