*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #30D9Ef40;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: #f3f3f3;
    width: 95%;
    height: 95%;
    position: relative;
}
.sidebar{
    background-color: #3333;
    width: 250px;
    height: 98%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.alocacao{
    background-color: #3333;
    /* background-image: url(../../assets/placeholder_alocacao.JPG); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 1060px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.disponibilidade{
    background-color: #3333;
    width: 525px;
    height: 540px;
    position: absolute;
    bottom: 10px;
    right: 545px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dispCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
}
.manutencao{
    background-color: #3333;
    width: 525px;
    height: 540px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.manuCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
}
#linha-barra-Geral, #linha-barra-Logistica, #linha-barra-Transporte, #linha-barra-Colheita{
    width: 700px;
    height: 350px;
}

.model{
    visibility: hidden;
    display: none;
}