@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bassa+Vah:wght@400;600&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
:root{
    --bg-campos-color: #5559;
    --font-color: #f0f0f0;
    --Noto: 'Noto Sans Bassa Vah';
    --Roboto: 'Roboto';
    --Poppins: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    /* background-color: #30D9Ef40; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main{
    background-color: #f3f3f3;
    width: 95%;
    height: 95%;
    position: relative;
} */
.sidebar{
    background-color: var(--bg-campos-color);
    width: 350px;
    height: 98%;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sidebar img{
    width: 120px;
}
.icons{
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #dadada;
}

.away{
    opacity: 0.7;
}


.alocacao{
    background-color: rgb(220, 220, 220, 1);
    /* background-image: url(../../assets/placeholder_alocacao.JPG); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1540px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}
.disponibilidade{
    background-color: var(--bg-campos-color);
    width: 735px;
    height: 410px;
    position: absolute;
    bottom: 10px;
    left: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.manutencao{
    background-color: var(--bg-campos-color);
    width: 735px;
    height: 410px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.manuCard, .dispCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    width: 685px;
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(220, 220, 220, 1);
    position: relative;
}
.infos{
    font-size: 28px;
    font-family: var(--Poppins);
    font-weight: 500;
}
.infos > p{
    height: 44px;
    width: 500px;
}

.placa{
    background: linear-gradient(180deg, rgba(0,142,255,0.9023984593837535) 20%, rgba(255,255,255,1) 20%);
    display: flex;
    width: 120px;
    height: 20px;
    padding: 10px;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #333;
    font-family: var(--Noto);
    font-weight: 600;
    
    margin-right: 10px;
}
.infos > .modelo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.veiculo-setor1{
    display: flex;
    flex-direction: row;
}

.iconDisponivel-conteiner, .iconIndisponivel-conteiner{
    position: absolute;
    right: 100px;
    height: 162px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconDisponivel, .iconIndisponivel{
    height: 75px;
}
.expand{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 75px;
    height: 162px;
    border: none;
    background: none;
    cursor: pointer;
}
.expand > img, .expandManu > img{
    width: 35px;
}

.infos-geral{
    border-top: 1px solid #333;
    height: 100px;
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
}
.detalhesHead{
    width: 500px;
    display: flex;
    flex-direction: row;
}
.detalhes{
    margin-left: 10px;
}
.covered{
    opacity: 0.5;
}

.manuInfos{
    font-size: 24px;
    font-family: var(--Poppins);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    min-height: 75px;
    align-items: center;
}
.expandManu{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 75px;
    height: 107px;
    border: none;
    background: none;
    cursor: pointer;
}
.manutencao-geral{
    border-top: 1px solid #333;
    height: 180px;
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
}



.grafico-analise{
    width: 1020px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grafico-departamento{
    width: 520px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#graphGeral, #graphLogistica, #graphTransporte, #graphColheita{
    width: 950px !important;
}
#graphDistri{
    width: 440px !important;;
    height: 440px !important;
}

.model{
    visibility: hidden;
    display: none;
}


::-webkit-scrollbar{
    width: 0;
}