*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #f3f3f3;
    /* background-color: #30D9Ef40; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main{
    background-color: #f3f3f3;
    width: 95%;
    height: 95%;
    position: relative;
} */
.sidebar{
    background-color: #3333;
    width: 350px;
    height: 98%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.alocacao{
    background-color: #3333;
    /* background-image: url(../../assets/placeholder_alocacao.JPG); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 1540px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}
.disponibilidade{
    background-color: #3333;
    width: 525px;
    height: 440px;
    position: absolute;
    bottom: 10px;
    right: 545px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dispCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
}
.manutencao{
    background-color: #3333;
    width: 525px;
    height: 440px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.manuCard{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
}

.grafico-analise{
    width: 1020px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.grafico-departamento{
    width: 520px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#graphGeral, #graphLogistica, #graphTransporte, #graphColheita{
    width: 1000px;
}
#graphDistri{
    height: 240px;
}


.model{
    visibility: hidden;
    display: none;
}