*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
.clientes{
    display: flex;
    flex-wrap: wrap;
}
.cliente{
    width: clamp(300px, 50vw, 800px);
    height: 150px;
    display:flex;
    flex-direction: column;
}
.cliente div{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.endereco{
    height: 100px !important;
    display: flex;
    flex-direction: column !important;
}
.endereco span{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#codCli{
    height: 30px;
    width: 30px;
}
#nome{
    height: 30px;
    width: 80%;
}
#telefones{
    height: 30px;
}

#endereco, #bairro, #cidade, #uf{
    height: 30px;
    width: 47%;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal > div{
    background-color: #fff;
    height: 100px;
    width:  400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #333;
    border-radius: 20px
}
#tipoCli{
    width: 25%;
}
#telCli{
    width: 65%;
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.model{
    visibility: hidden;
    display: none;
}