*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header{
    background-color: #fff;
    width: calc(80% - 20vw);
    height: 10vh;
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    background-color: #f58a6f;
    position:fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInfo{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    background-color: #fff;
    width: calc(80% -  20vw);
    margin-left: 20vw;
    padding-top: 20px;
    height: calc(100% - 20px);
    display: flex;
    justify-content: center;
    overflow-x: visible;
}

.block{
    margin-top: 30px;
    width: 300px;
    height: 175px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #333;
    border-radius: 15px;
}
.titleConstrain{
    width: 100%;
    display: flex;
    justify-content: center;

}

.selectedTitle{
    width: calc(100% - 15px - 15px);
    height: 40px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #333;
}
.selectedContent{
    width: calc(100% - 10px);
    height: 90px;
    padding: 10px 5px;
}
.selectedUrgen{
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: calc(100 - 10px);
    display: flex;
    justify-content: flex-end;
}
.selectedData{
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.model{
    visibility: hidden;
    display: none;
}